*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: #e84848;
  text-align: center;
  font-family: 'flexo';
}

@font-face {
    font-family: 'flexo';
    src: url('../Flexo/Flexo-Light.otf');
    font-weight: lighter;
}
